<div class='content-row'>
<h3>グループ作成<h3>
<%= form_with model: @group, local: true do |f| %>
  <div class="field">
    <%= f.label :group_name, "コミュニティー名" %>
    <%= f.text_field :group_name %>
  </div>
  <div class="action">
    <%= f.submit "作成する", class: :form_btn %>
  </div>
<% end %>
</div>